@import url('https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}

body {
  background-color: #fafafa;
}

.container {
  width: 90% !important;
  margin: 0 auto !important;
}

h1, h3, h3 {
  margin: 0;
  padding: 0;
}

.homepageHero {
  height: 100vh;
}

.homepageHeroContent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}

.homepageHeroRight {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.homepageHeroRight > h2 {
  font-size: 48px;
  font-weight: 600;
}

.homepageHeroRight > p {
  font-size: 22px;
}

.homepageHeroRightBtnGroup {
  display: flex;
}

.homepageHeroRightBtnGroup > a.btn-large {
  margin-top: 32px;
  width: 50%;
  box-shadow: none;
  font-size: 18px !important;
  font-weight: 500;
  text-transform: none;
}

.homepageHeroLeft {
  height: 90vh;
  background-image: url(./als-person.png);
  background-position : center;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: start;
}


/* form styles */
.input-field {
  margin-top: 40px !important;
}

@media screen and (max-width: 1000px) {
  .homepageHeroContent {
    display: block;
  }

  .homepageHeroRightBtnGroup {
    display: block; 
  }

  .homepageHeroRightBtnGroup > a.btn-large {
    width: 100%;
  }
}